@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
*,
*::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 1em;
  font-family: "Rubik", sans-serif;
  color: #444;
}
nav {
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
}
h1 {
  font-size: 2.8em;
  margin-bottom: 1.2em;
  line-height: 1.05em;
}
p {
  font-size: 1.25em;
  line-height: 1.6em;
  margin-bottom: 2.6em;
}
.btn:link,
.btn:visited {
  font-size: 1.25em;
  font-weight: 600;
  background-color: #e67e22;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 1em 2em;
  border-radius: 0.5em;
}
section {
  padding: 6em 0em;
}
h2 {
  font-size: 2.2em;
  margin-bottom: 1.2em;
}
.center {
  width: 75%;
  margin: 0 auto;
}
header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(../hero.jpg);
  background-size: cover;
  color: #ffffff;
}
.header-center {
  position: absolute;
  /* In relation to parent size */
  left: 50%;
  top: 50%;
  /* In relation to element size */
  transform: translate(-50%, -50%);
}
.header-center-inner {
  width: 50%;
}
