/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
COLOR SYSTEM
MAIN COLOR: #087f5b 
GREY COLOR: #343a40
*/

/* Inter font added */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* General Styles */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  /* Resetting line-height */
  line-height: 1;
}
.btn {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #087f5b;

  /* Centering the icon */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
}
.btn-icon {
  stroke: #087f5b;
  stroke-width: 1;
  height: 1.5em;
  width: 1.5em;
}
