h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
/* It's okay if font-size of h2 is bigger than h1.
h1, h2 tags are all about semantics, rather than styling */
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5; /* we use a value without unit. Here, it indicates
  the line-height is 1.5 times the font-size*/
}
li {
  font-size: 20px;
}
footer p {
  /* Descendent selector*/
  font-size: 16px;
}
/*
Suppose we only want the paragraphs that are inside of headers,
which are inside of articles, to be italic.

 article header p{
     font-style: italic;
 }    
This works and is called nested descendent selector

But we are now even more encoding the HTML structure into our CSS selectors, and that can make our code hard to maintain in the future if we ever change our HTML.
And so that's not a good idea.
So, we use class and id selectors.
*/
